body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

/* Containers */

.page {
  padding-top: 30px;
  padding-right: 300px;
  padding-bottom: 100px;
  padding-left: 300px;
}

/*********** Responsive ***********/

@media (min-width: 0px) and (max-width: 799px) {
  .page {
    padding-right: 30px;
    padding-left: 30px;
  }
}
